body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  background-color: rgb(14, 29, 67);
  color: #fffd;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.satellite-icon {
  color: rgb(22, 96, 255);
}

.header-sub {
  font-size: 16px;
  font-weight: lighter;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.loader-icon {
  font-size: 4rem;
  color: red;
}

.source-api {
  text-decoration: underline;
  font-weight: lighter;
}

.location-info {
  position: absolute;
  top: 200px;
  right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px; 
  max-height: 100px;
  padding: 20px;
  background-color: rgba(64, 64, 64, 0.913);
  border-radius: 7px;
  color: #fffd;
}

.location-source {
  list-style-type: none;
  padding: 0;
}

.location-title {
  font-size: 1.3rem;
  margin: 0;
}

.source-info {
  font-weight: 400;
}

.src-id {
  font-size: 10px;
}

.src-url {
  color: #EE596A;
  text-decoration: none;
}

.src-url:visited {
  color: #F5A3AC; 
}

.src-url:hover {
  color: #E71D36;
  font-weight: bold;
  text-decoration: underline;
}

.close-icon {
  font-size: 30px;
}