body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.loader-icon {
  font-size: 4rem;
  color: red;
}

.source {
  text-decoration: underline;
  color: #4c4c4c;
}