body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.loader-icon {
  font-size: 4rem;
  color: red;
}

.source-api {
  text-decoration: underline;
  font-weight: lighter;
}

.location-info {
  position: absolute;
  top: 200px;
  right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px; 
  min-height: 200px;
  padding: 20px;
  background-color: rgba(193, 213, 244, 0.879);
  border-radius: 7px;
  color: #171717;
}

.location-sources {
  list-style-type: none;
  padding: 0;
}

.location-title {
  font-size: 1.3rem;
}

.sources-header {
  text-decoration: underline;
  font-weight: 400;
}

.src-id {
  padding-top: 15px;
}

.src-url {
  font-style: italic;
}